body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** ===========HEADER=============== **/
.header {
}
.header-nav {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  outline: transparent;
}
.header-logo-span {
  color: #4d5ae5;
}
.header-list {
}
.header-iteam {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
  outline: transparent;
}
.header-list-address {
}
.header-iteam-address {
}
.header-link-address {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-link-address:hover,
.header-link-address:focus {
  color: #404bbf;
  outline: transparent;
}

/** ================================ **/

/** ===============HERO================= **/
.hero {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
/** ================================ **/

/** ============ABOUT==================== **/
.about {
}
.about-title {
}
.about-list {
}
.about-iteam {
}
.about-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/** ================================ **/

/** ============TEAM==================== **/
.team {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
}
.team-iteam {
}
.team-img {
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/** ================================ **/

/** ==========PORTFOLIO====================== **/
.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
}
.portfolio-iteam {
}
.portfolio-img {
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/** ================================ **/

/** ============FOOTER==================== **/
.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  outline: transparent;
}
.footer-span {
  color: #4d5ae5;
}
.footer-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/** ================================ **/
